<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Madalier </title>
    <script src="../static/cytoscape.min.js"></script>
    <script src="../static/dagre.min.js"></script>
    <script src="../static/cytoscape-dagre.min.js"></script>
    <script type="module" src="../static/main.js"></script>
</head>

<body>
    poopy doody butt
    <div id="cy" style="width: 500px; height: 500px;"></div>
</body>

</html>